@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montez&family=Qwitcher+Grypen:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-slide-in {
    position: absolute;
    inset: 0;
    background-color: #1570ef;
    transform: translateX(-100%);
    animation: slide-in 0.7s forwards;
  }

  @keyframes slide-in {
    to {
      transform: translateX(0);
    }
  }
}
